#write{
    margin-left: 100px;
}

#pagenum{
    margin-left: 30%;
}
table{
    margin-left: 20px;
}
th{
    background-color: black;
    color: aliceblue;
}
td{
    color: black;
    background-color: blanchedalmond;
}
#foot{
    text-align : center;
    margin-top: 30px;
}
#writebtn{
   position: absolute;
    right: 20%;
}
#inform{
    border:none;
}
#btn_form{
    position: absolute;
    right: 5%;
    top: 6%;
}
#login_success{
    position: absolute;
    right: 50%;
    top: 6%;
}